.card {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
}

.header {
  border-bottom: 1px solid var(--color-black);
  padding-bottom: 0.5rem;
  display: flex;
  align-items: baseline;
  gap: .5em;
}

.body {
  padding-top: 0.5rem;
}
